{% extends "base.html" %}

{% load static %}

{% block addons %}
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block content %}
<section>
    <h1 class="text-center">{{ title }}...</h1>
    <p>
        Evan L. Whipple is a native Las Vegan (Las Vegas, Nevada)
        currently painting and teaching Art in Bountiful, Utah
        where he has a studio and gallery. His painting
        specializes in still life and landscape. He teaches
        watercolor, acrylic, and oil painting using mainly
        larger canvases.
    </p>
    <p>
        Mr. Whipple was educated at Brigham Young University
        (Provo, UT) receiving a BS Degree---a composite of
        History and Sociology. He continued to finish a MA
        Degree in Mass Communications emphasizing  Marketing,
        Advertising and Public Relations, later being accredited
        and certified in PR by the Public Relations Society of
        America (PRSA). His business and educational experience
        includes positions with major corporations and agencies
        in Europe and the United States. He has taught at a
        Community College, Secondary schools, and with his own
        students.
    </p>
    <p>
        Seeking a formal education in Art, Mr. Whipple sought
        out two recognized art Master's, Mr. Sigfried Hahn and
        Mr. Howard Wexler in Albuquerque, NM studying for over
        two years. They are known for their research,
        publication (Famous Artist's Magazine), and application
        of the Maroguer Medium or, "wet-on-wet" pioneer painting
        technique.
    </p>
    <p>
        These Master's taught Mr. Whipple the techniques of
        drawing, balance, layout, perspective, color mixing, hue
        and value coloring, as well as other techniques such as
        pallet knife painting. He also taught art and calligraphy
        at a local University.
    </p>
    <p>
        Mr. Whipple is known for his bright colors, skies, and
        the skilled technique of  pallet knife art painting.
        Some of his oil paints are over 100 years old. 
    </p>
    <p>
        Mr. Whipple currently paints and teaches watercolor,
        acrylic, and oil painting. He was an art instructor for
        the local Michael's Arts and Crafts store in Bountiful
        teaching weekly. He is also nationally certified by
        Grumbacher as a Fine Art Instructor nationally. As a 
        member of the Bountiful Utah Art Center, Mr. Whipple
        contributes art pieces for public display.
    </p>
    <p>
        Contact: <a href="mailto:evanlwhipple75@gmail.com">evanlwhipple75@gmail.com</a><br>
        Phone (DT only): (801) 589 - 3765
    </p>
</section>
{% endblock %}